<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.ecomax.summer" version="1.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Ecomax summer</name>
    <description>
        Ecomax summer
    </description>
    <author email="franciscoalves@velty.com.br" href="http://velty.com.br">
    	Velty tecnologia
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <platform name="android" />
    <icon src="icon.png" />
    <platform name="ios">
        <icon src="res/icon/ios/icon-120.png" gap:platform="ios" width="120" height="120" />
        <icon src="res/icon/ios/icon-76.png" gap:platform="ios" width="76" height="76" />
        <icon src="res/icon/ios/icon-40.png" gap:platform="ios" width="40" height="40" />
        <icon src="res/icon/ios/icon-152.png" gap:platform="ios" width="152" height="152" />
    </platform>
    <gap:plugin name="cordova-plugin-inappbrowser" source="npm" />
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <preference name="android-minSdkVersion" value="26" />
    <plugin name="cordova-plugin-inappbrowser" spec="~3.0.0" />
</widget>
