<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.ecomax.summer" version="1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Ecomax summer</name>
    <description>
        Ecomax summer
    </description>
    <author email="franciscoalves@velty.com.br" href="http://velty.com.br">
    	Velty tecnologia
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*"/>
    <platform name="android" />
    <icon src="icon.png"/>
    <platform name="ios"/>
    <gap:plugin name="cordova-plugin-inappbrowser" source="npm"/>
    <gap:plugin name="cordova-plugin-whitelist" source="npm"/>
    <preference name="android-minSdkVersion" value="25"/>
</widget>
